<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
  <!--<link rel="stylesheet" href="./styles/main.css">-->
  <link rel="stylesheet" href="./styles/new.css">
</head>

<body>
  <div class="form-container">
    
    <form action="/new" method="post" autocomplete="off" class="glassy-form">
      <h1>Add a New Member</h1>

      <p>What's your name?</p>
      <input type="text" name="name" autofocus>

      <p class="pick-color">Pick a color:</p>
      <input type="radio" name="color" id="red" value="red" />
      <label for="red"><span class="red"></span></label>

      <input type="radio" name="color" id="orange" value="orange" />
      <label for="orange"><span class="orange"></span></label>

      <input type="radio" name="color" id="amber" value="amber" />
      <label for="amber"><span class="amber"></span></label>

      <input type="radio" name="color" id="yellow" value="yellow" />
      <label for="yellow"><span class="yellow"></span></label>

      <input type="radio" name="color" id="lime" value="lime" />
      <label for="lime"><span class="lime"></span></label>

      <input type="radio" name="color" id="green" value="green" />
      <label for="green"><span class="green"></span></label>

      <input type="radio" name="color" id="mint" value="mint" />
      <label for="mint"><span class="mint"></span></label>

      <input type="radio" name="color" id="cyan" value="cyan" />
      <label for="cyan"><span class="cyan"></span></label>

      <input type="radio" name="color" id="sky" value="sky" />
      <label for="sky"><span class="sky"></span></label>

      <input type="radio" name="color" id="blue" value="blue" />
      <label for="blue"><span class="blue"></span></label>

      <input type="radio" name="color" id="indigo" value="indigo" />
      <label for="indigo"><span class="indigo"></span></label>

      <input type="radio" name="color" id="violet" value="violet" />
      <label for="violet"><span class="violet"></span></label>

      <input type="radio" name="color" id="black" value="black" />
      <label for="black"><span class="black"></span></label>

      <input type="radio" name="color" id="gray" value="gray" />
      <label for="gray"><span class="gray"></span></label>

      <input type="radio" name="color" id="pink" value="pink" />
      <label for="pink"><span class="pink"></span></label>

      <input type="radio" name="color" id="teal" value="teal" />
      <label for="teal"><span class="teal"></span></label>

      <input type="radio" name="color" id="magneta" value="magneta" />
      <label for="magneta"><span class="magneta"></span></label>

      <input type="radio" name="color" id="navy" value="navy" />
      <label for="navy"><span class="navy"></span></label>

      <div class="spacer"></div>
      <button type="submit" class="btn">Add</button>
    </form>
  </div>
  
</body>

</html>